
.padding100 {
    padding: 0px 100px;
}

.no-padding {
    padding: 0px;
}

.btn {

}

.btn span {
    font-size: 13px;
    color: #ffffff;
    padding: 10px 6px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 13px;
    background: #00ffa2;
    border-color: #00ffa2;
}


.fancy {
  line-height: 0.5;
  text-align: center;
  margin: 30px 0px;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 0px;
  border-bottom: 1px solid white;
  border-top: 1px solid #707070;
  top: 13px;
  width: 360px;
}
.fancy span:before {
  right: 100%;
  margin-right: 25px;
}
.fancy span:after {
  left: 100%;
  margin-left: 25px;
}


.round-border-helper {
    height: 162px;
    width: 162px;
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-top: 5px;
    opacity: 0.85;
    margin-left: 9px;
}

.container{
    width: 1366px !important;
    padding: 0px;
}


html body > section{
    padding: 10px 0px;
    border: 1px solid rgba(133,35,77,0.05);
    box-shadow: 5px 5px 10px #ccc;

}

html #social-buttons-content {
    margin-top: 30px;
}

html #social-buttons {
  padding-bottom: 90px;
}

html #mainbanner .banner-header .banner-header-inner {
  padding: 15px;
  border-radius: 20px;
  font-size: 26px;
  font-weight: bold;
  color: white;
  margin: 40px;
  position: absolute;
  z-index: 1;
  background-color: #5cb85c;
  opacity: 0.8;
}

html #timer_action #timer {
    width: 560px;
}
